/Practical4C/nbproject/private/
/Practical4C/build/
/Practical5A/nbproject/private/
/Practical5A/build/
/Practical5B/nbproject/private/
/Practical5B/build/
/Practical5C/nbproject/private/
/Practical5C/build/
/Practical6A/nbproject/private/
/Practical6A/dist/
/Practical6A/build/
/Practical5C/dist/
/Practical6B/nbproject/private/
/Practical6B/build/
/Practical6B/dist/
/Practical6C/nbproject/private/
/Practical6C/build/
/Practical7A/nbproject/private/
/Practical7A/build/
/Practical8A/nbproject/private/
/Practical8A/build/
/Practical8A/dist/
/Practical8B/nbproject/private/
/Practical8B/build/
/Practical8C/nbproject/private/
/Practical7C/nbproject/private/
/Practical7B/nbproject/private/
/Practical6C/dist/
/Practical5A/dist/
/Practical5B/dist/
/Practical10/nbproject/private/
/Practical9A/nbproject/private/
/Practical7B/build/
/Practical7C/build/
/Practical9A/build/
/Practical9A/dist/
/Practical9B/nbproject/private/
/Practical10C/nbproject/private/
/Practical10C/build/
/Practical8B/dist/