/Practical4C/nbproject/private/
/Practical4C/build/
/Practical5A/nbproject/private/
/Practical5A/build/
/Practical5B/nbproject/private/
/Practical5B/build/
/Practical5C/nbproject/private/
/Practical5C/build/
/Practical6A/nbproject/private/
/Practical6A/dist/
/Practical6A/build/
/Practical5C/dist/
/Practical6B/nbproject/private/
/Practical6B/build/
/Practical6B/dist/
/Practical6C/nbproject/private/
/Practical6C/build/